In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
throws_df = pd.read_csv('../data/raw/all_games_0630.csv')
completed_throws =  throws_df[throws_df.turnover != 1]
completed_throws['lateral_distance'] = (completed_throws['thrower_x'] - completed_throws['receiver_x']).abs()
completed_throws['vertical_distance'] = completed_throws['receiver_y'] - completed_throws['thrower_y']
completed_throws['yards_to_middle'] = completed_throws['thrower_x'].abs() - completed_throws['receiver_x'].abs()

/var/folders/r4/cqt7s71n4k18qp94swd6_njr0000gn/T/ipykernel_49838/572196646.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  throws_df = pd.read_csv('../data/raw/all_games_0630.csv')
/var/folders/r4/cqt7s71n4k18qp94swd6_njr0000gn/T/ipykernel_49838/572196646.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  completed_throws['lateral_distance'] = (completed_throws['thrower_x'] - completed_throws['receiver_x']).abs()
/var/folders/r4/cqt7s71n4k18qp94swd6_njr0000gn/T/ipykernel_49838/572196646.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  completed_throws['vertical_distance'] = completed_throws['receiver_y'] - completed_throws['thrower_y']
/var/folders/r4/cqt7s71n4k18qp94swd6_njr0000gn/T/ipykernel_49838/572196646.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  completed_throws['yards_to_middle'] = completed_throws['thrower_x'].abs() - completed_throws['receiver_x'].abs()

In [4]:
completed_throws = completed_throws[['2023' in x for x in completed_throws.gameID]]

In [5]:
def get_functions_and_cols(prefix):
    foo = lambda x: (x, len(x), np.mean(x), sum(x))
    cols = [f'{prefix}_distances', 'count', f'{prefix}_average', f'{prefix}_total']
    return foo, cols

In [6]:
foo, cols = get_functions_and_cols('lateral')
lateral_df = pd.DataFrame([x for x in completed_throws.groupby('thrower')['lateral_distance'].apply(list).agg(foo)], columns=cols)
lateral_df['thrower'] = completed_throws.groupby('thrower')['lateral_distance'].apply(list).index
foo, cols = get_functions_and_cols('vertical')
vertical_df = pd.DataFrame([x for x in completed_throws.groupby('thrower')['vertical_distance'].apply(list).agg(lambda x: (x, len(x), np.mean(x), sum(x)))], columns=cols)
vertical_df['thrower'] = completed_throws.groupby('thrower')['vertical_distance'].apply(list).index

foo, cols = get_functions_and_cols('middle')
middle_df = pd.DataFrame([x for x in completed_throws.groupby('thrower')['yards_to_middle'].apply(list).agg(lambda x: (x, len(x), np.mean(x), sum(x)))], columns=cols)
middle_df['thrower'] = completed_throws.groupby('thrower')['yards_to_middle'].apply(list).index

thrower_df = pd.merge(lateral_df, vertical_df, how='inner', on=['thrower', 'count'])[['thrower', 'count', 'lateral_distances', 'lateral_average', 'lateral_total', 'vertical_distances', 'vertical_average', 'vertical_total']]
thrower_df = pd.merge(thrower_df, middle_df, how='inner', on=['thrower', 'count'])[['thrower', 'count', 'lateral_distances', 'lateral_average', 'lateral_total', 'vertical_distances', 'vertical_average', 'vertical_total', 'middle_distances', 'middle_average', 'middle_total']]

In [7]:
# thrower_df = thrower_df[thrower_df['count'] >= 20]

In [8]:
def get_thrower_team(row):
    thrower = completed_throws[(completed_throws.thrower == row.thrower) & completed_throws.is_home_team].home_teamID
    return thrower.iloc[0] if len(thrower) != 0 else completed_throws[(completed_throws.thrower == row.thrower) & ~completed_throws.is_home_team].away_teamID.iloc[0]

In [9]:
thrower_df['team'] = thrower_df.apply(get_thrower_team, axis=1)

In [10]:
shred_thrower_df = thrower_df[thrower_df.team == 'shred']

In [12]:
shred_thrower_df.columns

Index(['thrower', 'count', 'lateral_distances', 'lateral_average',
       'lateral_total', 'vertical_distances', 'vertical_average',
       'vertical_total', 'middle_distances', 'middle_average', 'middle_total',
       'team'],
      dtype='object')

In [15]:
shred_thrower_df.sort_values('count', ascending=False)[['thrower', 'count', 'lateral_average', 'vertical_total']]

       thrower  count  lateral_average  vertical_total
423  lyorgason    304         7.956711        3110.530
323    jmiller    283         8.867703        2437.600
593   sconnole    253         9.627470        2441.040
503  myorgason    224         9.006607        1426.300
306      jkerr    178         9.567978        1441.095
697  wselfridg    160         8.815313         633.550
208  elheureux    104         9.730962        1036.730
235  glindsley    102         8.839608         906.410
284  jduennebe     71         8.782254         532.610
156  cyorgason     70         8.317000         673.560
217  esaunders     62        10.093871         902.870
403  kweinberg     54        11.008148         273.450
53   beberhard     53        10.417925         405.210
206     ejaime     51         7.686863         351.080
512      nhuff     40         9.332000         276.440
49     bashton     38         9.811053         244.190
293   jhoffman     38         7.493158         277.270
358     jwells     30         6.786333         172.790
190     dterry     24         8.792500         160.050
663    tmounga     15        12.420000         269.740
280      jdahl     10         8.976000          57.170
595   sdastrup     10        10.560000          52.110
441    mdehlin      8         9.517500         107.670
704  zburnside      6         8.171667          -1.400
604  skaltenec      5        13.408000           7.850
296    jjahnke      3        15.050000          24.190
408    lclarke      1         0.060000          -5.250

In [232]:
shred_thrower_df.sort_values('vertical_total', ascending=False)

,thrower,count,lateral_distances,lateral_average,lateral_total,vertical_distances,vertical_average,vertical_total,middle_distances,middle_average,middle_total,team
423,lyorgason,304,"[17.46, 3.1400000000000006, 15.280000000000001...",7.956711,2418.84,"[7.300000000000001, 3.6099999999999994, 3.1999...",10.232007,3110.530,"[9.96, -3.1400000000000006, -11.86, -3.1500000...",-1.481776,-450.46,shred
593,sconnole,253,"[11.110000000000001, 9.82, 7.500000000000001, ...",9.627470,2435.75,"[5.449999999999999, -1.5, -5.449999999999996, ...",9.648379,2441.040,"[-11.110000000000001, -2.3200000000000003, 7.5...",-0.234822,-59.41,shred
323,jmiller,283,"[6.5, 1.0899999999999999, 6.470000000000001, 1...",8.867703,2509.56,"[20.41, 13.300000000000004, 16.020000000000003...",8.613428,2437.600,"[3.6199999999999997, 1.0899999999999999, -6.47...",-0.341696,-96.70,shred
306,jkerr,178,"[2.25, 0.07000000000000028, 2.66, 20.38, 3.230...",9.567978,1703.10,"[-9.890000000000004, -7.700000000000003, 27.39...",8.096039,1441.095,"[-2.25, 0.07000000000000028, -2.66, 18.12, -3....",0.872247,155.26,shred
503,myorgason,224,"[12.25, 18.509999999999998, 9.870000000000001,...",9.006607,2017.48,"[10.069999999999997, 2.6499999999999986, 4.129...",6.367411,1426.300,"[-10.010000000000002, -16.25, 9.87000000000000...",-0.174821,-39.16,shred
208,elheureux,104,"[35.47, 7.57, 15.549999999999999, 5.2500000000...",9.730962,1012.02,"[0.7100000000000009, 29.72, 15.070000000000004...",9.968558,1036.730,"[16.950000000000003, -7.57, -15.54999999999999...",0.069423,7.22,shred
235,glindsley,102,"[8.93, 0.879999999999999, 6.61, 7.300000000000...",8.839608,901.64,"[-2.25, 17.930000000000007, 9.199999999999996,...",8.886373,906.410,"[-8.93, 0.879999999999999, 6.61, -7.3000000000...",-0.539804,-55.06,shred
217,esaunders,62,"[7.92, 4.92, 2.1499999999999986, 1.02000000000...",10.093871,625.82,"[9.060000000000002, 23.050000000000004, 60.32,...",14.562419,902.870,"[-7.92, -4.92, 2.1499999999999986, -1.02000000...",-0.944516,-58.56,shred
156,cyorgason,70,"[10.229999999999999, 13.43, 4.299999999999999,...",8.317000,582.19,"[-11.049999999999997, 5.390000000000001, 12.75...",9.622286,673.560,"[10.229999999999999, 13.43, -4.299999999999999...",1.970714,137.95,shred
697,wselfridg,160,"[10.440000000000001, 16.57, 1.3499999999999996...",8.815313,1410.45,"[-2.039999999999999, 4.43, 19.93, 2.3900000000...",3.959687,633.550,"[10.440000000000001, -16.57, -1.34999999999999...",0.046187,7.39,shred
284,jduennebe,71,"[19.840000000000003, 14.18, 2.259999999999998,...",8.782254,623.54,"[1.5, -6.200000000000003, 22.060000000000002, ...",7.501549,532.610,"[19.840000000000003, 14.18, 2.259999999999998,...",1.671268,118.66,shred
53,beberhard,53,"[12.49, 11.799999999999999, 16.09, 11.26, 10.3...",10.417925,552.15,"[-0.8199999999999932, 11.520000000000003, 1.98...",7.645472,405.210,"[-4.17, -11.799999999999999, 16.09, -11.26, -1...",-0.525849,-27.87,shred
206,ejaime,51,"[13.84, 5.9399999999999995, 11.930000000000001...",7.686863,392.03,"[6.950000000000003, -2.8599999999999994, 6.380...",6.883922,351.080,"[13.84, -5.26, 10.33, -10.3, -1.62999999999999...",-0.483333,-24.65,shred
293,jhoffman,38,"[7.139999999999999, 1.5499999999999998, 1.2200...",7.493158,284.74,"[28.53, 13.999999999999993, 21.480000000000004...",7.296579,277.270,"[-7.139999999999999, 1.5499999999999998, -1.22...",-0.620526,-23.58,shred
512,nhuff,40,"[1.2300000000000004, 14.59, 2.1900000000000013...",9.332000,373.28,"[23.310000000000002, 7.090000000000003, 39.14,...",6.911000,276.440,"[-1.2300000000000004, -14.45, -2.1900000000000...",-2.527500,-101.10,shred
403,kweinberg,54,"[20.02, 6.27, 7.42, 13.099999999999998, 3.5500...",11.008148,594.44,"[15.299999999999997, 8.86, 5.220000000000006, ...",5.063889,273.450,"[-12.919999999999998, -6.27, 7.42, 13.09999999...",1.628889,87.96,shred
663,tmounga,15,"[4.09, 3.8200000000000003, 16.23, 5.6000000000...",12.420000,186.30,"[67.1, 5.859999999999999, 3.1400000000000006, ...",17.982667,269.740,"[-1.7700000000000002, 3.8200000000000003, 16.2...",1.828000,27.42,shred
49,bashton,38,"[0.27000000000000046, 4.16, 5.12, 2.66, 16.16,...",9.811053,372.82,"[14.52000000000001, 6.959999999999994, 10.64, ...",6.426053,244.190,"[-0.27000000000000046, -4.16, -3.2, 1.55999999...",-1.557895,-59.20,shred
358,jwells,30,"[5.540000000000001, 17.05, 6.959999999999999, ...",6.786333,203.59,"[12.990000000000009, -9.75, 9.129999999999995,...",5.759667,172.790,"[-5.540000000000001, -1.0899999999999999, 6.95...",-1.667667,-50.03,shred
190,dterry,24,"[11.61, 18.21, 7.639999999999999, 0.1300000000...",8.792500,211.02,"[-0.6000000000000085, -1.4300000000000068, 0.8...",6.668750,160.050,"[5.59, 7.829999999999999, 7.639999999999999, 0...",1.139167,27.34,shred
441,mdehlin,8,"[13.16, 12.06, 4.0, 6.25, 3.9400000000000004, ...",9.517500,76.14,"[5.420000000000002, 14.32, 8.260000000000005, ...",13.458750,107.670,"[-5.359999999999999, 4.779999999999999, 0.0800...",-5.330000,-42.64,shred
280,jdahl,10,"[5.25, 14.25, 11.450000000000001, 2.1199999999...",8.976000,89.76,"[10.36, 0.07000000000000028, 4.629999999999995...",5.717000,57.170,"[5.25, 8.91, -11.31, -2.1199999999999997, -0.2...",2.822000,28.22,shred
595,sdastrup,10,"[10.5, 3.34, 13.91, 11.73, 13.770000000000001,...",10.560000,105.60,"[6.140000000000001, 19.090000000000003, -0.609...",5.211000,52.110,"[-7.78, -3.34, 5.449999999999999, -11.73, 5.99...",0.568000,5.68,shred
296,jjahnke,3,"[11.870000000000001, 33.08, 0.19999999999999998]",15.050000,45.15,"[3.1999999999999886, 7.4199999999999875, 13.56...",8.063333,24.190,"[11.870000000000001, -3.620000000000001, 0.199...",2.816667,8.45,shred
604,skaltenec,5,"[14.66, 13.57, 15.690000000000001, 18.62, 4.5]",13.408000,67.04,"[-7.63000000000001, 0.06999999999999318, 0.200...",1.570000,7.850,"[14.52, 5.93, -15.690000000000001, 18.62, 4.5]",5.576000,27.88,shred
704,zburnside,6,"[19.57, 1.7099999999999973, 3.1400000000000006...",8.171667,49.03,"[-3.539999999999992, 5.859999999999999, -6.609...",-0.233333,-1.400,"[1.9900000000000002, -1.7099999999999973, -3.1...",1.611667,9.67,shred
408,lclarke,1,[0.0600000000000005],0.060000,0.06,[-5.25],-5.250000,-5.250,[0.0600000000000005],0.060000,0.06,shred

In [233]:
shred_thrower_df.loc[323]

thrower                                                         jmiller
count                                                               283
lateral_distances     [6.5, 1.0899999999999999, 6.470000000000001, 1...
lateral_average                                                8.867703
lateral_total                                                   2509.56
vertical_distances    [20.41, 13.300000000000004, 16.020000000000003...
vertical_average                                               8.613428
vertical_total                                                   2437.6
middle_distances      [3.6199999999999997, 1.0899999999999999, -6.47...
middle_average                                                -0.341696
middle_total                                                      -96.7
team                                                              shred
Name: 323, dtype: object